@inherits LayoutComponentBase
@using SheetMusicLib.Models
@using SheetMusicLib.Services

<style>
    :root {
    --background-color: @CurrentTheme.sBackColor;
    --text-color: @CurrentTheme.sForeColor;
    --primary-color: @CurrentTheme.sPrimaryColor;
    }

    .page {
    background-color: var(--background-color);
    color: var(--text-color);
    }

    .nav-menu {
    background-color: var(--primary-color);
    }
</style>

<div class="page" style="@GetPageStyle()">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private Theme CurrentTheme { get; set; } = new Theme();

    [Inject]
    public ThemeService ThemeService { get; set; } = null!;

    protected override async Task OnInitializedAsync() => CurrentTheme = await ThemeService.GetCurrentThemeAsync() ?? new Theme();

    private string GetPageStyle()
    {
        return $"background-color: {CurrentTheme.sBackColor}; color: {CurrentTheme.sForeColor};";
    }
}
